<br><br>
<div class="container-fluid bg-light">
	<div class="row">
		
		<div class="container table-responsive"><br>
			<table style="width: 100%;" class="table table-striped">
				<thead>
					<th>#</th>
					<th>Date</th>
					<th>Time</th>
					<th>City</th>
					<th>Location</th>
          <th>Vehicle Type</th>
          <th>Status</th>
				</thead>
				<tbody id="tableBody">
					<tr *ngFor='let data of bindData;let i=index;'>
            <td>{{i+1}}</td>
            <td>{{data.time  | date :'dd-MMM-yyy'}}</td>
            <td>{{data.time | date :' h:mm:ss a '}}</td>
            <td>{{data.city}}</td>
            <td>{{data.location}}</td>
            <td>{{data.wheeler}}</td>
            <td><button [ngClass]="data.status === 'Pending' ? 'btn-danger' : 'btn-success'">{{data.status}}</button></td>
          </tr>
				</tbody>
			</table>
			<div class="notification text-center alert alert-danger" *ngIf='bindData==0'>No Records Found </div>
		</div>
	</div>
</div>


<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
